*{
   margin: 0;
   padding: 0;
   
}
 body,html{
    background-color: #FAFAFA;
    background-color: #fffbfb;
 }
 .header{
    border-radius: 1px;
    border-style: groove;
    border-width: 1px;
    border-top: hidden;
 }
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .menubar{
    padding: 15px 0;
    margin-right: 350px;
 }
 .menubar li{
    display: inline-block;
    margin: 0 15px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
 }
 #head{
    margin-left: 150px;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 #getstat{
    border-style: groove;
    margin-left: 150px;
    background-color: #2459D3;
    border-radius: 5px;
    border-color: #2459D3;
    color: #FAFAFA;
    padding: 9px;
    font-weight: 500px;

 }
 #home{
    color: #2459D3;
 }
 #img1{
    width: 500px;
    height: 400px;
    margin-top: 40px;
 }
 .section1{
    display: flex;

 }
 .section1 img1{
    margin-left: 50px;

 }
 #title1{
    color: #0F298B;
    font-size: 5em;
    margin-top: 40px;
    margin-left: 40px;

 }
 #title2{
    font-size: 35px;
    font-weight: 100px;
    font-family: cursive;
    margin-left: 40px;
    margin-top: 20px;

 }
 #lnmore{
    border-style: groove;
    background-color: #2459D3;
    border-radius: 5px;
    border-color: #2459D3;
    color: #FAFAFA;
    padding: 9px;
    font-weight: 500;
    width: 100px;
    margin-top: 30px;
    margin-left: 40px;
 }
    



 

