*{
   margin: 0;
   padding: 0;
   
}
 body,html{
    background-color: #FAFAFA;
    background-color: #fffbfb;
 }
 .header{
    border-radius: 1px;
    border-style: groove;
    border-width: 1px;
    border-top: hidden;
 }
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .menubar{
    padding: 15px 0;
    margin-right: 350px;
    font-family: 'M PLUS Rounded 1c', sans-serif;;
 }
 .menubar li{
    display: inline-block;
    margin: 0 15px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
 }
 #head{
    margin-left: 150px;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    font-family:'Lobster', cursive;
    font-size:35px;
 }
 #getstat{
    border-style: groove;
    margin-left: 150px;
    background-color: #2459D3;
    border-radius: 5px;
    border-color: #2459D3;
    color: #FAFAFA;
    padding: 12px;
    font-size: large;

 }
 #home{
    color: #2459D3;
 }
 #img1{
    width: 500px;
    height: 400px;
    margin-top: 40px;
    margin-left: 20px;
 }
 .section1{
    display: flex;

 }
 .section1 img1{
    margin-left: 50px;

 }
 #title1{
    color: #0F298B;
    font-size: 5em;
    margin-top: 40px;
    margin-left: 40px;

 }
 #title2{
    font-size: 35px;
    font-weight: 100px;
    font-family: cursive;
    margin-left: 40px;
    margin-top: 20px;

 }
 #lnmore{
    
    background-color: #2459D3;
    border-radius: 5px;
    border-color: #2459D3;
    color: #FAFAFA;
    padding: 12px;
    font-weight: 500;
    margin-top: 25px;
    margin-right: 20px;
    box-shadow: #2459D3;

    margin-left: 40px;
    font-size:large;
 }
 .fa-circle-play{
    font-size: 30px;
    color:#0F298B
    
    
 }
 .fa-circle-play:hover{
    cursor: pointer;
    color:black
 }
 .horbar{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    border-style:hidden;
    border-width: 1px;
    width: 800px;
    height: 88px;
    margin-left: 500px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:whitesmoke;
    margin-bottom: 30px;

 }
 .nav{
    color: #0F298B;
    font-size: medium;
 }
 .section3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
 }
 .sec3{
    flex-basis: 26%;
    background-color:whitesmoke;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: whitesmoke;
    width: 50px;
    margin-top :40px;
    padding-left: 140px;
}
.pp{
    font-size: medium;
    font-weight:700px;
    font-family:Rajdhani', sans-serif;
    
}
.sec3:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
#ourprod{
    color: #0F298B;
    margin-left: 80px;
    font-size:60px;
    font-weight: bold;
}
.title{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
#how{
    color: #0F298B;
}
.image >img{
    width: 800px;
    height: 500px;
    margin-top: 30px;
    margin-left: 50px;
   
}
.section4{
    display: flex;
}
.sec4{
    
    margin-left: 80px;
    margin-top: 120px;
}
#why{
    font-size: 60px;
    color: #2459D3;

}
#create{
    font-size: 30px;
}
.check li{
    font-size: 20px;
    list-style: none;
    font-weight:bold;
}
.fa-check-square-o{
    color: #2459D3;
    font-size: 20px;
    font-weight:lighter;
}









    



 

